<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQnYtvK62olinAK6KaSKlTKgcQPyXjI2U</string>
	<key>GCM_SENDER_ID</key>
	<string>631809883949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kian.QuestMode</string>
	<key>PROJECT_ID</key>
	<string>questmode-298cc</string>
	<key>STORAGE_BUCKET</key>
	<string>questmode-298cc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631809883949:ios:3ec49a9eeaf82c2db8dda4</string>
</dict>
</plist>